[Unit]
Description=AutoSSH tunnel for stunnel port 443
After=network.target
Requires=stunnel.service

[Service]
ExecStart=iodine -f -P testpassword ns.oob.penlabs.be oob.penlabs.be
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
