[Unit]
Description=TLS tunnel for network daemons
After=syslog.target network-online.target

[Service]
ExecStart=/usr/bin/stunnel
ExecReload=/bin/kill -HUP $MAINPID
Type=forking
TimeoutSec=5
Restart=always
PrivateTmp=False

[Install]
WantedBy=multi-user.target
Alias=stunnel.target